/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 15px;
     margin-left: 8px;
 }

 .wrapper {
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/*input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }*/
    
    .signup, .signin {
        border: 5px solid grey;
        text-align:left;
        background-color: rgb(127, 236, 255);
        width: 300px;
        padding: 50px;
        margin-top: 20px;
        margin-right: 500px;
        margin-left: 500px;
        margin-bottom: 100px;    
    }

    button {
        overflow: visible;
        text-transform: none;
      }
    
      button, [type="button"], [type="submit"], [type="reset"],
      a.button, label.button, .button,
      a[role="button"], label[role="button"], [role="button"] {
        display: inline-block;
        background: #e0e0e0;
        color: #212121;
        border: 0;
        border-radius: 0.1875rem;
        padding: 0.625rem 0.875rem;
        margin: 0.5rem;
        box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2);
        text-decoration: none;
        cursor: pointer;
      }
    
      button:hover, button:focus, [type="button"]:hover, [type="button"]:focus, [type="submit"]:hover, [type="submit"]:focus, [type="reset"]:hover, [type="reset"]:focus,
      a.button:hover,
      a.button:focus, label.button:hover, label.button:focus, .button:hover, .button:focus,
      a[role="button"]:hover,
      a[role="button"]:focus, label[role="button"]:hover, label[role="button"]:focus, [role="button"]:hover, [role="button"]:focus {
        background: #e0e0e0;
        opacity: 1;
      }

      #layout {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(127, 236, 255);
      }
      
      .list {
        float: left;
      }

      .signout {
        float: right;
      }
      
      
      .list a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .list a:hover {
        background-color: blue;
      }

      table {
        width: 100%;
      }
      
      th {
        height: 50px;
      }

      #account-summary {
        border-collapse: collapse;
        width: 40%;
      }
    
      #account-summary td, #account-summary th {
        border: 1px solid #ddd;
        text-align: center;
        padding: 4px;
      }
    
    
      #account-summary tr:nth-child(even){background-color: #f2f2f2;}
    
      #account-summary tr:hover {background-color: #ddd;}
    
      #account-summary th {
          padding-top: 8px;
          padding-bottom: 8px;
          text-align: center;
          background-color:rgb(127, 236, 255);
          color: black;
      }
    
      table.center {
        margin-left:20;
        margin-right:auto;
      }

      #error_explanation {
        font: bold 2.6em;
        color: red;
      }

      .notice {
          color: green;
      }

      .error {
          color: red;
      }

    
  



