<h1>Welcome to EXPtracker App !</h1>
<h3> New User <%= link_to 'Sign up', signup_path %></h3>
<h3> Already have an account <%= link_to 'Sign In', signin_path%></h3>
<p><%= link_to 'Signing in with the GitHub', '/auth/github'%>.</p>