 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

<h1>Account Index page</h1>
<% if @accounts.empty?%>
<h3>You do not have accounts <%= link_to 'Create new account', new_account_path %>
<%else%>

<% @accounts.each do |account| %>
<%= link_to account.name, account_path(account), class: "button" %><br><br>
<%end%>
<%end%>
